
.green-text { color: #004400; }
.red-text { color: #640000; }
.salmon-text { color: salmon; }
.blue-text { color: royalblue; }
.groen-text { color: limegreen; }
.full-opacity { opacity: 1; }
.partial-opacity { opacity: .75; }
.border-radius { border-radius: 6px; }
.table { width: auto !important; float: left; clear: both; }
.tdgridlt { padding: 2px 4px; width: auto; text-align: right; background: white;}
.tdgridltfirst { padding: 2px 4px; width: auto; text-align: right; background: white;}
.tdgrid { padding: 2px 4px; min-width: 20px; font-weight: normal; text-align: center; background: white; }
.matrixgrid { margin-top: 30px; float: left; }
.commons { border-width:0; }
.yellow-background { background: #f99403; color: #066BFC; }
.torquoise-background { background: #509fad; color: #AF6052; }
.yellow-background-light { background: #ddeedd; color: #221122; }
.torquoise-background-light { background: #ddddee; color: #222211; }
.grey { background: #ddd; color: #222222; }
.indianred { background: #CD5C5C; color: #32A3A3; }
.lightcoral { background: #F08080; color: #0F7F7F; }
.salmon { background: #FA8072; color: #057F8D; }
.darksalmon { background: #E9967A; color: #166985; }
.lightsalmon { background: #FFA07A; color: #005F85; }
.crimson { background: #DC143C; color: #23EBC3; }
.red { background: #FF0000; color: #00FFFF; }
.firebrick { background: #B22222; color: #4DDDDD; }
.darkred { background: #8B0000; color: #74FFFF; }
.pink { background: #FFC0CB; color: #003F34; }
.lightpink { background: #FFB6C1; color: #00493E; }
.hotpink { background: #FF69B4; color: #00964B; }
.deeppink { background: #FF1493; color: #00EB6C; }
.mediumvioletred { background: #C71585; color: #38EA7A; }
.palevioletred { background: #DB7093; color: #248F6C; }
.lightsalmon { background: #FFA07A; color: #005F85; }
.coral { background: #FF7F50; color: #0080AF; }
.tomato { background: #FF6347; color: #009CB8; }
.orangered { background: #FF4500; color: #00BAFF; }
.darkorange { background: #FF8C00; color: #0073FF; }
.orange { background: #FFA500; color: #005AFF; }
.gold { background: #FFD700; color: #0028FF; }
.yellow { background: #FFFF00; color: #FFFF00; }
.lightyellow { background: #FFFFE0; color: #00001F; }
.lemonchiffon { background: #FFFACD; color: #000532; }
.lightgoldenrodyellow { background: #FAFAD2; color: #05052D; }
.papayawhip { background: #FFEFD5; color: #00102A; }
.moccasin { background: #FFE4B5; color: #001B4A; }
.peachpuff { background: #FFDAB9; color: #002546; }
.palegoldenrod { background: #EEE8AA; color: #111755; }
.khaki { background: #F0E68C; color: #0F1973; }
.darkkhaki { background: #BDB76B; color: #424894; }
.lavender { background: #E6E6FA; color: #191905; }
.thistle { background: #D8BFD8; color: #274027; }
.plum { background: #DDA0DD; color: #225F22; }
.violet { background: #EE82EE; color: #117D11; }
.orchid { background: #DA70D6; color: #258F29; }
.fuchsia { background: #FF00FF; color: #00FF00; }
.magenta { background: #FF00FF; color: #00FF00; }
.mediumorchid { background: #BA55D3; color: #45AA2C; }
.mediumpurple { background: #9370DB; color: #6C8F24; }
.rebeccapurple { background: #663399; color: #99CC66; }
.blueviolet { background: #8A2BE2; color: #75D41D; }
.darkviolet { background: #9400D3; color: #6BFF2C; }
.darkorchid { background: #9932CC; color: #66CD33; }
.darkmagenta { background: #8B008B; color: #74FF74; }
.purple { background: #800080; color: #7FFF7F; }
.indigo { background: #4B0082; color: #B4FF7D; }
.slateblue { background: #6A5ACD; color: #95A532; }
.darkslateblue { background: #483D8B; color: #B7C274; }
.mediumslateblue { background: #7B68EE; color: #849711; }
.greenyellow { background: #ADFF2F; color: #5200D0; }
.chartreuse { background: #7FFF00; color: #8000FF; }
.lawngreen { background: #7CFC00; color: #8303FF; }
.lime { background: #00FF00; color: #FF00FF; }
.limegreen { background: #32CD32; color: #CD32CD; }
.palegreen { background: #98FB98; color: #670467; }
.lightgreen { background: #90EE90; color: #6F116F; }
.mediumspringgreen { background: #00FA9A; color: #FF0565; }
.springgreen { background: #00FF7F; color: #FF0080; }
.mediumseagreen { background: #3CB371; color: #C34C8E; }
.seagreen { background: #2E8B57; color: #D174A8; }
.forestgreen { background: #228B22; color: #DD74DD; }
.green { background: #008000; color: #FF7FFF; }
.darkgreen { background: #006400; color: #FF9BFF; }
.yellowgreen { background: #9ACD32; color: #6532CD; }
.olivedrab { background: #6B8E23; color: #9471DC; }
.olive { background: #808000; color: #7F7FFF; }
.darkolivegreen { background: #556B2F; color: #AA94D0; }
.mediumaquamarine { background: #66CDAA; color: #993255; }
.darkseagreen { background: #8FBC8B; color: #704374; }
.lightseagreen { background: #20B2AA; color: #DF4D55; }
.darkcyan { background: #008B8B; color: #FF7474; }
.teal { background: #008080; color: #FF7F7F; }
.aqua { background: #00FFFF; color: #FF0000; }
.cyan { background: #00FFFF; color: #FF0000; }
.lightcyan { background: #E0FFFF; color: #1F0000; }
.paleturquoise { background: #AFEEEE; color: #501111; }
.aquamarine { background: #7FFFD4; color: #80002B; }
.turquoise { background: #40E0D0; color: #BF1F2F; }
.mediumturquoise { background: #48D1CC; color: #B72E33; }
.darkturquoise { background: #00CED1; color: #FF312E; }
.cadetblue { background: #5F9EA0; color: #A0615F; }
.steelblue { background: #4682B4; color: #B97D4B; }
.lightsteelblue { background: #B0C4DE; color: #4F3B21; }
.powderblue { background: #B0E0E6; color: #4F1F19; }
.lightblue { background: #ADD8E6; color: #522719; }
.skyblue { background: #87CEEB; color: #783114; }
.lightskyblue { background: #87CEFA; color: #783105; }
.deepskyblue { background: #00BFFF; color: #FF4000; }
.dodgerblue { background: #1E90FF; color: #E16F00; }
.cornflowerblue { background: #6495ED; color: #9B6A12; }
.mediumslateblue { background: #7B68EE; color: #849711; }
.royalblue { background: #4169E1; color: #BE961E; }
.blue { background: #0000FF; color: #FFFF00; }
.mediumblue { background: #0000CD; color: #FFFF32; }
.darkblue { background: #00008B; color: #FFFF74; }
.navy { background: #000080; color: #FFFF7F; }
.midnightblue { background: #191970; color: #E6E68F; }
.cornsilk { background: #FFF8DC; color: #000723; }
.blanchedalmond { background: #FFEBCD; color: #001432; }
.bisque { background: #FFE4C4; color: #001B3B; }
.navajowhite { background: #FFDEAD; color: #002152; }
.wheat { background: #F5DEB3; color: #0A214C; }
.burlywood { background: #DEB887; color: #214778; }
.tan { background: #D2B48C; color: #2D4B73; }
.rosybrown { background: #BC8F8F; color: #0A5ACD; }
.sandybrown { background: #F4A460; color: #0B5B9F; }
.goldenrod { background: #DAA520; color: #255ADF; }
.darkgoldenrod { background: #B8860B; color: #4779F4; }
.peru { background: #CD853F; color: #327AC0; }
.chocolate { background: #D2691E; color: #2D96E1; }
.saddlebrown { background: #8B4513; color: #74BAEC; }
.sienna { background: #A0522D; color: #5FADD2; }
.brown { background: #A52A2A; color: #5AD5D5; }
.maroon { background: #800000; color: #7FFFFF; }
.white { background: #FFFFFF; color: #000000; }
.snow { background: #FFFAFA; color: #000505; }
.honeydew { background: #F0FFF0; color: #0F000F; }
.mintcream { background: #F5FFFA; color: #0A0005; }
.azure { background: #F0FFFF; color: #0F0000; }
.aliceblue { background: #F0F8FF; color: #0F0700; }
.ghostwhite { background: #F8F8FF; color: #070700; }
.whitesmoke { background: #F5F5F5; color: #0A0A0A; }
.seashell { background: #FFF5EE; color: #000A11; }
.beige { background: #F5F5DC; color: #0A0A23; }
.oldlace { background: #FDF5E6; color: #020A19; }
.floralwhite { background: #FFFAF0; color: #00050F; }
.ivory { background: #FFFFF0; color: #00000F; }
.antiquewhite { background: #FAEBD7; color: #051428; }
.linen { background: #FAF0E6; color: #050F19; }
.lavenderblush { background: #FFF0F5; color: #000F0A; }
.mistyrose { background: #FFE4E1; color: #001B1E; }
.gainsboro { background: #DCDCDC; color: #232323; }
.lightgray { background: #D3D3D3; color: #2C2C2C; }
.silver { background: #C0C0C0; color: #3F3F3F; }
.darkgray { background: #A9A9A9; color: #565656; }
.gray { background: #fff; color: #7F7F7F; }
.dimgray { background: #fff; color: #969696; }
.lightslategray { background: #000; color: #887766; }
.slategray { background: #000; color: #888766; }
.darkslategray { background: #2F4F4F; color: #D0B0B0; }
.black { background: #000000; color: #FFFFFF; }

.highlight { background: #b2c14f; color: #4D3EB0; }
.subhighlight { background: #d8e587; color: #271A78; }

.wavelength-calculation { border: 2px solid; border-color: red; width: auto; padding: 10px 15px; display: block; }
.form-item-offset { padding: 20px; border: 1px #333 solid; }
